# This is Git's per-user configuration file.
[user]
	name = sleekmason
	email = sleekmason@gmail.com
# Please adapt and uncomment the following lines:
#	name = sleekmason
#	email = sleekmason@gmail.com
