[Desktop Entry]
Type=Action
Tooltip=Open Terminal Here
Name=Open Terminal
Profiles=profile-one;
Icon=utilities-terminal

[X-Action-Profile profile-one]
MimeTypes=inode/directory;
Exec=exo-open --working-directory %f --launch TerminalEmulator
Name=Default profile
