[Desktop Entry]
Type=Application
Name=Lilidog Installers
Exec=ld-installers
StartupNotify=false
Terminal=false
Icon=applications-utilities
Categories=System;
